.cart-container{
    width: 70%;

}
.cart_ordered h2{
text-align: center;
font-family: monospace;

}
.cart_collection{
    text-align: center;
}
.cart_checkout{
    text-align: end;
}
.material-icons{
    font-family: 'Material Icon';
}
/* .item-img{
    display: flex;
    width: 40%;
}
.item-desc{
    width: 40%;
} */
