.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #B0EACD;
}

#searchInput{
    width: 294px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}

#searchBar{
    margin-left: auto;
    display: flex;
    flex:1;
    justify-content: center;
}

ul{
    display: flex;
    list-style: none;
    flex:1;
    justify-content: space-around;
}

a{
    text-decoration: none;
    padding: 0 13px;
}
