.cardlist-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-container{
    width: 25%;
    margin: 0;
}
/* .cardList{
    display: flex;
    flex-direction: row;
    flex:4
} */

