.card{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.productImg{
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}
.text-left{
    text-align: left;
}
.cartIcon{
    display: flex;
    justify-content: center;
}