.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    
    /* margin-left: 30px;*/
    height: fit-content;
}
.productImg{
    width: 100%;
    
}
.text-left{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
.cartIcon{
    display: flex;  
    justify-content: center;
    margin-top: 30px;
}