.bg-image{
  height: 600px;
  width: auto;
}
.bg-signup .bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 10%;
}
.bg-signup .bg-text h3{
  color: white;
  font-size: 35px;
}
.bg-signup .bg-text h1{
  color:green;
  font-size: 60px;
  font-family: cursive;
}
.signup_box {
  font-family: Fondamento;
  width: 30%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 50%;
  margin-top: -169px;
  background-color:white;
  text-align: center;
  border: groove;
  border-color: black;
}

.signup_box h4{
  color: #b7b7b7;
  margin-bottom: 50px;
}
.signup_box .container-form {
  width: 85%;
  margin: auto;
  text-align: start;
}
.signup_box .container-form input.input-field {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.signup_btn .btn-ok{
  background-color: tomato;
  margin-top: 25px;
  height: 40px;
  width: 35%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.signup_box label{
  padding-left: 5px;
  font-family: monospace;
} 